/*@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Raleway');*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    /*font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url(oc1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.main ul{
  float: right;
  list-style-type: none;
}

.main ul li{
  display: inline-block;
}
.logo  ul{
  float: left;
  list-style-type: none;
}

.logo ul li{
  font-size: 2.7em;
  font-weight: bold;
  display: inline-block;
  color: #fff;
}
ul li a{
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.6s ease;
}

ul li a:hover{
  background-color: #fff;
  color: #000;
}

ul li.active a{
  background-color: #fff;
  color: #000;
}

.logo img{
  /*background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../ander.jpg);*/
  border: 1px solid transparent;
  float: left;
  width: 50px;
  height: auto;
  
}

.main {
max-width: 1200px;
margin: auto;
}
.wrapper {
  position: absolute;
  top: 70%;
  left: 1%;
  transform: translate(-50%, -50%);
}

.wrapper ul {
  list-style: none;
}

.wrapper ul li {
  width: 50px;
  height: 50px;
  position: relative;
  background: #e59500;
  /*margin: 10px 0;*/
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.wrapper ul li .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #fff;
}

ul li.facebook{
  background: #3b5998;
}

ul li.twitter{
  background: #00aced;
}

ul li.instagram{
  background: #bc2a8d;
}

ul li.google{
  background: #dd4b39;
}

ul li.whatsapp{
  background: #4dc247;
}

ul li.facebook div.slider{
  background: #627aac;
}

ul li.twitter div.slider{
  background: #7fd5f6;
}

ul li.instagram div.slider{
  background: #dd94c6;
}

ul li.google div.slider{
  background: #eea59c;
}

ul li.whatsapp div.slider{
  background: #82d47e;
}

.slider {
  content: "";
  position: absolute;
  top: 0;
  left: 51px;
  width: 0px;
  height: 50px;
  background: #eebb5c;
  border-radius: 3px;
  transition: all 0.5s 0.3s ease;
}

.slider p {
  font-family: arial;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  line-height: 50px;
  opacity: 0;
  transition: all 0.6s ease;
}

ul li:hover .slider {
  width: 180px;
  transition: all 0.5s ease;
}

ul li:hover .slider p {
  opacity: 1;
  transition: all 1s 0.2s ease;
}
#weather-data{
	position: relative;
	min-width:200px;
	background: rgba(255,255,255,.2);
	box-shadow: 0 5px 15px rgba(0,0,0,.10);
	color: #fff;
	text-align: center;
	border-radius: 5px;
	font-size: 1.6em;

}
#weather-data h3{
	padding-top: 3%;
}
#weather-data p:last-child{
	padding-bottom: 3%;
}

.jumbo{
  background: rgba(255,255,255,.2);
	box-shadow: 0 5px 15px rgba(0,0,0,.10);
	
}
.jumbo h2{
	font-size: 2.2em;
	font-weight: lighter;
  text-align: center;
  color: #fff;
}

#city{
	width: 60%;
	margin: auto;
  text-align: center;
}

input[type='text'],#submitCity{
	height: 1.8em;
	font-size: 1.6em;
	margin-bottom: 8%;
}

label{
	font-size: 1.6em;
	margin-top: 2%;
}
table{
	font-size: 1.6em;
}

.footer-copyright{
  background-color: transparent;
  color: #fff;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  }

  